/* ------ GENERAL ------- */
body {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 7%);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.gameBoy {
  display: grid;
  padding: 15px;
  border-radius: 25px;
  background-color: hsl(172, 100%, 63%);
  box-shadow: 15px 10px 0px 5px hsl(0, 0%, 13%);
}

button {
  color: hsl(0, 0%, 93%);
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 21px;
  border-radius:5px;
  border: none;
  box-shadow: 0px 7px 0px 3px hsl(0, 0%, 13%), -5px -5px 15px 3px rgba(255, 255, 255, 0.2);
}

/* ------ BOARD ------- */
#board {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column: 1 / -1;
    padding:  8px;
    padding-top: 30px;
    margin: 20px 10px 20px;
    background-color: hsl(0, 0%, 93%);
    border-radius: 8px;
    text-align: right;
    word-break: break-all;
    box-shadow: 0px 0px 0px 8px hsl(0, 0%, 30%);
}

.scoreBoard {
  display: block;
  position: absolute;
  top: 10%;
  left: 10%;
}

.square {
    aspect-ratio: 1;
    border: 1px solid hsl(0, 0%, 93%);
    border-radius: 3px;
    max-width: 30px;
}

.emptySquare {
    background-color: hsl(138, 100%, 60%);
}

.snakeSquare {
    background-color: hsl(93, 100%, 40%);
}

.foodSquare {
    background-color: hsl(352, 100%, 50%);
}

/* ------ SIGN GAME START AND OVER ------- */
#signStart, #signOver {
  display: none;
  text-align: center;
  font-size: 48pt;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#signStart {
  display: block;
}

#signStart p, #signOver p{
  font-size: 22px;
  opacity: 0; /* el elemento está oculto por defecto */
  animation: aparecer-desaparecer 1s infinite; /* la animación dura 1 segundo y se repite infinitamente */
}

@keyframes aparecer-desaparecer {
  0% {
    opacity: 0; /* el elemento está completamente oculto al principio */
  }
  50% {
    opacity: 1; /* el elemento aparece a la mitad de la animación */
  }
  100% {
    opacity: 0; /* el elemento desaparece al final de la animación */
  }
}

.animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: grow 1s ease-in-out forwards;
}

@keyframes grow {
  0% {
  transform: translate(-50%, -50%) scale(0.1);
  }
  80% {
  transform: translate(-50%, -50%) scale(1);
  }
  100% {
  transform: translate(-50%, -50%) scale(0.8);
  }
}    

/* ------ BOTONES ------- */
#controls {
    order: 2;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

#startButton {
    margin-right: 8px;
    order: 1;
    height: 42px;
    padding: 10px 16px 10px 16px;
    background-color: rgb(255, 0, 34);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.leftright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}

.triangle-up {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid hsl(352, 100%, 50%);
}

.triangle-down {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid hsl(352, 100%, 50%);
}

.triangle-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 14px solid hsl(352, 100%, 50%);
}

.triangle-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 14px solid hsl(352, 100%, 50%);
}