/* ------ GENERAL ------- */
* {
    font-family: monospace;
    font-size: 14pt;
}

body {
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
/* ------ BOARD ------- */

.scoreBoard {
    position: absolute;
    top: 0;
}

#board {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100%;
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: rgb(99, 255, 159);
}

.snakeSquare {
    background-color: rgb(92, 189, 2);
}

.foodSquare {
    background-color: rgb(255, 0, 34);
}

/* ------ GAME OVER ------- */
#gameOver {
    display: none;
    color: hsl(0, 0%, 13%);
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

.animation {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    animation: grow 1s ease-in-out forwards;
}

@keyframes grow {
    0% {
    transform: translate(-50%, -50%) scale(0.1);
    }
    80% {
    transform: translate(-50%, -50%) scale(1);
    }
    100% {
    transform: translate(-50%, -50%) scale(0.8);
    }
}


/* ------ BOTONES ------- */

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 21px;
    background-color: white;
    border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.boardInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

#startButton {
    margin-right: 8px;
    order: 1;
    height: 42px;
    padding: 10px 16px 10px 16px;
    background-color: rgb(255, 0, 34);
    color: white;
    font-size: 25px;
}

#controls {
    order: 2;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

.leftright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}

.triangle-up {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid rgb(255, 0, 34);
}

.triangle-down {
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid rgb(255, 0, 34);
}

.triangle-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 14px solid rgb(255, 0, 34);
}

.triangle-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 14px solid rgb(255, 0, 34);
}
